################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/EasyReportDispatcher_Lib_Common/bin
/EasyReportDispatcher_Lib_BIZ/bin
/EasyReportDispatcher_Lib_BIZ/obj
/EasyReportDispatcher_Lib_Common/obj
/EasyReportDispatcher_Lib_DAL/bin
/EasyReportDispatcher_Lib_DAL/obj
/EasyReportDispatcher_RUN/bin
/EasyReportDispatcher_RUN/obj
/packages
/.vs
/EasyReportDispatcher_DESKTOP/bin
/EasyReportDispatcher_DESKTOP/obj
/EasyReportDispatcher_SCHEDULER/bin
/EasyReportDispatcher_SCHEDULER/obj
/ERD.Scheduler/obj
/ERD.Scheduler/bin/Debug/net8.0
/ERD.Service/bin/Debug/net8.0
/ERD.Service/obj
/ERD.Scheduler/bin/Release/net8.0
/ERD.Service/bin/Release/net8.0
/ERD.Scheduler/Properties/PublishProfiles
/ERD.Scheduler/Properties/launchSettings.json
