<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <clear />
    <!--<add name="Default" providerName="MYSQLDataBase" connectionString="Server=dbmysql.sds.local;UserId=spelaia;Password=volley22;Database=postesvc_preview;use procedure bodies=false;" />-->
    <add name="Default" providerName="MYSQLDataBase" connectionString="Server=cspldbmy01;UserId=rduser;Password=$Appus3r1$;Database=report_dispatcher;Default Command Timeout=3600;" />
  </connectionStrings>


  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="aaa@email.it">
        <network enableSsl="false" host="smtp.prova.it" port="25" userName="" password="" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>