<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyReportDispatcher_RUN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyReportDispatcher_RUN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <clear />
    <!--<add name="Default" providerName="MYSQLDataBase" connectionString="Server=dbmysql.sds.local;UserId=spelaia;Password=volley22;Database=postesvc_preview;use procedure bodies=false;" />-->
    <add name="Default" providerName="MYSQLDataBase" connectionString="Server=remotemysql.com;UserId=ourKl13l8f;Password=IXehc1qbkZ;Database=ourKl13l8f;" />
  </connectionStrings>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
    <EasyReportDispatcher_RUN.Properties.Settings>
      <setting name="TaskLogMailFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="TaskLogMailTO" serializeAs="String">
        <value />
      </setting>
      <setting name="TaskLogKeepNum" serializeAs="String">
        <value>90</value>
      </setting>
    </EasyReportDispatcher_RUN.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <EasyReportDispatcher_RUN.Properties.Settings>
      <setting name="TaskLogDir" serializeAs="String">
        <value />
      </setting>
      <setting name="TaskLogSmtpConfigId" serializeAs="String">
        <value>1</value>
      </setting>
    </EasyReportDispatcher_RUN.Properties.Settings>
  </applicationSettings>
</configuration>